<div class="container">
  <h1 style="text-align:center; background-color: cyan;">Welcome to medicare application</h1><br>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="list"> CustomerList</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="addcust"> AddCustomer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="prodlist"> ProductList</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="addprod"> AddProduct</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="userlist">LoginList</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="adduser">Login Page</a>
    </li>

  </ul>
<router-outlet></router-outlet>
</div>